In [2]:
import pandas as pd

# Create a dictionary with sample data
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "City": ["New York", "Los Angeles", "Chicago", "Houston"],
    "Salary": [70000, 80000, 90000, 100000]
}

# Convert dictionary to Pandas DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago   90000
3    David   40      Houston  100000

In [3]:
import pandas as pd

# Create sample data for CSV file
sample_data = {
    "EmployeeID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [25, 30, 35, 40, 45],
    "Department": ["HR", "IT", "Finance", "IT", "HR"],
    "Salary": [60000, 75000, 90000, 85000, 65000],
    "JoiningDate": ["2019-06-23", "2018-07-19", "2020-08-05", "2017-09-15", "2021-01-10"],
}

# Convert to DataFrame
df_sample = pd.DataFrame(sample_data)

# Save to CSV
csv_filename = "sample_employee_data.csv"
df_sample.to_csv(csv_filename, index=False)

# Provide the download link
csv_filename

'sample_employee_data.csv'

In [17]:
import pandas as pd
# Load the CSV file into Pandas
df = pd.read_csv("sample_employee_data.csv")
# Print the first 5 rows
print(df.head(5), "\n")
# Get summary statistics 
print(df.describe(), '\n')

#Filter the DataFrame where Age > 30
filtered_df = df[df["Age"] > 30]

print(filtered_df)

   EmployeeID     Name  Age Department  Salary JoiningDate
0         101    Alice   25         HR   60000  2019-06-23
1         102      Bob   30         IT   75000  2018-07-19
2         103  Charlie   35    Finance   90000  2020-08-05
3         104    David   40         IT   85000  2017-09-15
4         105      Eve   45         HR   65000  2021-01-10

       EmployeeID        Age        Salary
count    5.000000   5.000000      5.000000
mean   103.000000  35.000000  75000.000000
std      1.581139   7.905694  12747.548784
min    101.000000  25.000000  60000.000000
25%    102.000000  30.000000  65000.000000
50%    103.000000  35.000000  75000.000000
75%    104.000000  40.000000  85000.000000
max    105.000000  45.000000  90000.000000

   EmployeeID     Name  Age Department  Salary JoiningDate
2         103  Charlie   35    Finance   90000  2020-08-05
3         104    David   40         IT   85000  2017-09-15
4         105      Eve   45         HR   65000  2021-01-10

In [28]:
import pandas as pd

# Load the dataset
df = pd.read_csv("archive/tested.csv")

# Display the first few rows
print(df.head(),'\n')

# Get column names and data types
print(df.info(),'\n')

# check summary statistics 
print(df.describe(),'\n')

#check for missing values
print(df.isnull().sum(), '\n')

#Group by 'Survived' and calculate mean age
avg_age = df.groupby('Survived')['Age'].mean()
print(avg_age)

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB
None

       PassengerId    Survived      Pclass         Age       SibSp  \
count   418.000000  418.000000  418.000000  332.000000  418.000000
mean   1100.500000    0.363636    2.265550   30.272590    0.447368
std     120.810458    0.481622    0.841838   14.181209    0.896760
min     892.000000    0.000000    1.000000    0.170000    0.000000
25%     996.250000    0.000000    1.000000   21.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000
75%    1204.750000    1.000000    3.000000   39.000000    1.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000

            Parch        Fare
count  418.000000  417.000000
mean     0.392344   35.627188
std      0.981429   55.907576
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.500000
max      9.000000  512.329200

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

Survived
0    30.272732
1    30.272362
Name: Age, dtype: float64